:root{
    --scrollcolor:#dc7f45 ;
    --scrollbackground: #42c5ed ;
}

*{
    box-sizing: border-box;
}

html,body{
    margin: 0;
    padding: 0;
}

body{
    background-color: #222323 ;
    border-top: 30px solid rgb(160, 208, 250);
    border-right: 50px solid rgb(244, 136, 42);
    border-left: 50px solid rgb(244, 136, 42);
    border-bottom: 50px solid rgb(160, 208, 250);
        
}

.title{
    max-width: 1480px;
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 1.2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 3.2rem auto 1rem;
    padding: 0.5rem;
    text-align: center;
    width: 90%;
    color: #e8884c;
    text-transform: uppercase;
    border-bottom: 2px solid sandybrown;
}

.slider{
    max-width: 1480px;
    width: 85%;
    margin: 40px auto;
}

.slider-content{
    display: flex;
    padding-bottom: 1rem;
    gap: 2rem;
    overflow-x: scroll;
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
    scrollbar-color: var(--scrollcolor) var(--scrollbackground);
}

 .slider-content::-webkit-scrollbar{
    height: 0.7rem ;
    width: 0.7rem ;
    border-radius: 0.8rem ;
    background: var(--scrollbackground);
}

 .slider-content::-webkit-scrollbar-thumb{
    border-radius: 1.2rem;
    background: var(--scrollbackground);
}

.slider-content::-webkit-scrollbar-track{
    border-radius: 1.2rem;
    background: var(--scrollbackground);
}

 .slider-item{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    border-radius: 3.5rem;
    aspect-ratio: 1/1;
    scroll-snap-align: start;
    overflow: hidden;
    min-width: 100%;
}

 @media (min-width:450px) {
    .slider-item{
        aspect-ratio: 2/3;
        min-width: calc((100%/2) - 2rem);
    }
}

@media (min-width:950px) {
    .slider-item{
        min-width: calc((100%/3) - 4rem);
    }
}

.slider-image{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.slider-info{
    position: relative;
    padding: 0.9rem 0.9rem 0.9rem;
    background: linear-gradient(to top, #f7f7f7, #2c2927 );    
}

h3{
    line-height: 1.1rem;
    color: #6e4362;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    font-size: 1rem;
    text-align: center;
    text-shadow: 2px 2px 8px rgb(240, 216, 173);
}

.slider-btn{
    display: flex;
    justify-content: flex-start;
    margin: 1.5rem 1.5rem 1.5rem;
    width: 100%;
    padding: 0;
    gap: 2;
    align-items: center;
    align-content: center;
    pointer-events: none;

}

@media (min-width:450px) {
    .slider-btn{
        justify-content: flex-end;
    }
}

.slider-btns{
    margin: 0;
    line-height: 1;
    border: 0;
    border-radius: 2rem;
    padding: 0.35rem 0.8rem;
    background-color: #58c4ef;
    color: #bdf581;
    pointer-events: none;
    opacity: 0.25;
    transition: all 0.6s ease-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.slider-btns--active{
    opacity: 0.8;
    pointer-events: auto;
    cursor: pointer;
}










































































